.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    opacity: 1; } }

@keyframes slide-bottom {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); } }

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #f7d22d;
    padding-bottom: 3.1rem; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #f7d22d;
    padding-bottom: 3.1rem; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  box-sizing: border-box; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fs-small {
  font-size: 0.9rem; }

.fs-regular {
  font-size: 1rem; }

.fs-14 {
  font-size: 1.4rem; }

.fs-medium {
  font-size: 1.5rem; }

.fs-16 {
  font-size: 1.6rem; }

.fs-large {
  font-size: 1.8rem; }

.button {
  display: inline-block;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  text-align: center; }
  .button_white {
    background-color: #fff;
    color: #231f20; }
  .button_medium {
    padding: 0.7rem 2.5rem;
    max-width: 16rem;
    line-height: 2.8rem; }

.hamburger {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  align-items: center;
  height: 2.7rem;
  width: 100%;
  max-width: 3.9rem;
  background: transparent;
  border: none; }
  .hamburger__line {
    width: 100%;
    height: 0.3rem;
    background: #686466;
    border-radius: 2.6rem;
    position: absolute;
    display: block;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .hamburger__line:first-child {
    align-self: start;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .hamburger__line:nth-child(2) {
    align-self: center; }
  .hamburger__line:last-child {
    align-self: end; }
  .hamburger_open span:nth-child(1) {
    align-self: normal;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -0.2rem;
    left: 1.1rem; }
  .hamburger_open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .hamburger_open span:nth-child(3) {
    align-self: normal;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1.2rem;
    left: 0.55rem; }

.glide {
  position: relative; }
  .glide__slides {
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    list-style: none; }
  .glide__slide {
    width: 66vw; }
  .glide__controls {
    display: flex;
    position: absolute;
    gap: 74.5vw;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .glide__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2.7rem;
    border: 0;
    background-color: #f7d22d;
    font-size: 0.8rem; }

.header {
  position: relative; }
  .header__topnav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 0.45rem;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    z-index: 9999; }
  .header__clip-path {
    position: absolute;
    width: 100%;
    height: 8vh;
    background: #f7d22d;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    z-index: 0;
    transition: clip-path 0.5s ease-out; }
  .header__menu {
    position: absolute;
    width: 100%;
    z-index: 9999; }
    .header__menu_disabled {
      display: none;
      visibility: hidden;
      opacity: 0;
      background-color: #f7d22d; }
    .header__menu_enabled {
      display: block;
      margin: 0 auto;
      padding-bottom: 3.1rem;
      background-color: #f7d22d; }
  .header__list {
    list-style: none;
    text-align: center;
    padding-top: 0.4rem;
    padding-left: 0.1rem;
    margin-bottom: 1.4rem; }
  .header__link {
    text-decoration: none;
    color: #0e0c0d;
    line-height: 2.6rem; }
  .header__list > :last-child {
    padding-top: 0.65rem; }
  .header__tel {
    display: block;
    text-align: center;
    margin-bottom: 1.82rem; }
  .header .button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
