.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    opacity: 1; } }

@keyframes slide-bottom {
  0% {
    opacity: 0.3;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px); } }

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #f7d22d;
    padding-bottom: 3.1rem; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #f7d22d;
    padding-bottom: 3.1rem; }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  box-sizing: border-box; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-800 {
  font-weight: 800; }

.fs-small {
  font-size: 0.9rem; }

.fs-regular {
  font-size: 1rem; }

.fs-13 {
  font-size: 1.3rem; }

.fs-14 {
  font-size: 1.4rem; }

.fs-medium {
  font-size: 1.5rem; }

.fs-16 {
  font-size: 1.6rem; }

.fs-large {
  font-size: 1.8rem; }

.fs-19 {
  font-size: 1.9rem; }

.fc-yellow {
  color: #f7d22d; }

.fc-darkgray {
  color: #231f20; }

.heading_secondary {
  margin-bottom: 1.8rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: normal;
  text-align: center; }

.heading__quaternary {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.8rem; }

.button {
  display: inline-block;
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  text-align: center; }
  .button_white {
    background-color: #fff;
    color: #231f20; }
  .button_medium {
    padding: 0.7rem 2.5rem;
    max-width: 16rem;
    line-height: 2.8rem; }

.hamburger {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  align-items: center;
  height: 2.7rem;
  width: 100%;
  max-width: 3.9rem;
  background: transparent;
  border: none; }
  .hamburger__line {
    width: 100%;
    height: 0.3rem;
    background: #686466;
    border-radius: 2.6rem;
    position: absolute;
    display: block;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .hamburger__line:first-child {
    align-self: start;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .hamburger__line:nth-child(2) {
    align-self: center; }
  .hamburger__line:last-child {
    align-self: end; }
  .hamburger_open span:nth-child(1) {
    align-self: normal;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -0.2rem;
    left: 1.1rem; }
  .hamburger_open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .hamburger_open span:nth-child(3) {
    align-self: normal;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1.2rem;
    left: 0.55rem; }

.map {
  background: #e3ecf5;
  padding-bottom: 2.6rem; }
  .map img {
    display: block;
    margin: 0 auto;
    width: 100vw; }

.glide {
  position: relative;
  margin-bottom: 2.7rem; }
  .glide__slides {
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    list-style: none; }
  .glide__slide {
    width: 66vw; }
  .glide__controls {
    display: flex;
    position: absolute;
    gap: 74.5vw;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .glide__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2.7rem;
    border: 0;
    background-color: #f7d22d;
    font-size: 0.8rem; }

.advantages {
  background: #e3ecf5;
  padding: 2.6rem 1rem; }
  .advantages .heading_secondary {
    margin-bottom: 4.6rem; }
  .advantages__list {
    padding: 0 2.2rem;
    list-style: none; }
  .advantages__item:last-child .advantage {
    margin-bottom: 0; }
  .advantages .advantage {
    position: relative;
    margin-bottom: 4.1rem; }
    .advantages .advantage__icon {
      position: absolute;
      top: -30%;
      right: 0;
      left: 0;
      z-index: 1;
      clip-path: polygon(0 0, 100% 1%, 100% 80%, 0 80%);
      margin-right: auto;
      margin-left: auto;
      border-radius: 100rem;
      background-color: #fff;
      padding: 1.7rem;
      width: 7.7rem;
      height: 7.7rem; }
      .advantages .advantage__icon img {
        width: 100%; }
    .advantages .advantage__description {
      box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.03);
      border-radius: 1.4rem;
      background-color: #fff;
      padding: 4.4rem 1.9rem 1.6rem;
      color: #473e43;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.7rem;
      text-align: center; }

@media only screen and (min-width: 360px) {
  .advantages__item {
    height: calc(100% + 1vw); }
  .advantages .advantage__description {
    font-size: calc(1rem + 0.5vw); } }

@media only screen and (min-width: 420px) {
  .advantages__item {
    height: calc(100% + 1vw); }
  .advantages .advantage__description {
    font-size: calc(1rem + 1vw); } }

.contact__social {
  display: flex;
  gap: 3.75vw;
  margin-bottom: 1.27rem; }

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e3ecf5;
  border-radius: 0.6rem;
  width: 12.5vw;
  height: 12.5vw; }
  .contact__link img {
    width: 65%; }

.contact__direct {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border: 2px solid #e3ecf5;
  border-radius: 0.8rem;
  border-radius: 0.8rem;
  padding: 1.3rem 0;
  color: #0e0c0d;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: none; }

.dishes {
  padding: 0 1rem;
  margin-bottom: 3.6rem; }
  .dishes__heading {
    font-size: 2.1rem;
    color: #f7d22d;
    margin-bottom: 1.5rem;
    font-weight: 800; }
  .dishes__list {
    list-style: none;
    margin-bottom: 2rem; }
  .dishes__item {
    margin-bottom: 1rem; }
  .dishes .dish {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: center; }
    .dishes .dish__img {
      width: 10.3rem; }
    .dishes .dish__name {
      margin-bottom: 0.3rem;
      font-size: 1rem;
      font-weight: 800;
      color: #797979;
      line-height: 2rem; }
    .dishes .dish__description {
      color: #686466;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.3rem; }
    .dishes .dish__price {
      color: #231f20;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.9rem;
      padding-bottom: 0.5rem; }
    .dishes .dish__cart-btn {
      width: 12.5rem;
      height: 3.6rem;
      padding-right: 0.1rem;
      padding-left: 0.1rem;
      border-radius: 0.8rem;
      background-color: #f7d22d;
      border: none;
      color: #473e43;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2.8rem;
      letter-spacing: 0.1rem;
      justify-self: start;
      position: relative;
      left: 1rem; }

@media only screen and (min-width: 360px) {
  .dishes__heading {
    font-size: calc(2.1rem + 1vw); }
  .dishes .dish__img {
    width: calc(10rem + 8vw);
    margin-right: calc(0.5rem + 1vw); }
  .dishes .dish__name {
    font-size: calc(1rem + 0.5vw); }
  .dishes .dish__description {
    font-size: calc(0.9rem + 0.35vw); }
  .dishes .dish__cart-btn {
    width: calc(12.5rem + 15vw); } }

@media only screen and (min-width: 420px) {
  .dishes .dish__img {
    margin-right: calc(0.5rem + 5vw); }
  .dishes .dish__name {
    font-size: calc(1rem + 1vw); }
  .dishes .dish__description {
    font-size: calc(0.9rem + 0.5vw); } }

.footer {
  padding: 3rem 1rem 0;
  color: #231f20; }
  .footer__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.3rem; }
  .footer__logo {
    width: 22.5vw; }
  .footer__phone {
    margin-bottom: 0.5rem;
    color: #f7d22d;
    font-weight: 700;
    font-size: 2.2rem; }
    .footer__phone-btn {
      float: right;
      border-radius: 2.8rem;
      background-color: #f3f3f7;
      padding: 0 2.1rem;
      color: #696f7a;
      font-weight: 700;
      font-size: 1rem;
      line-height: 2.8rem; }
  .footer__link {
    display: block;
    color: inherit;
    text-decoration: none; }
    .footer__link_yellow {
      color: #f7d22d; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    opacity: 0.85;
    margin-bottom: 2.2rem;
    font-weight: 700; }
  .footer__heading {
    margin-bottom: 1.5rem; }
    .footer__heading_bold {
      font-weight: 700;
      text-transform: uppercase;
      color: #0e0c0d; }
  .footer__social {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c" "d e c";
    row-gap: 1rem;
    opacity: 0.7;
    margin-bottom: 1.8rem;
    font-weight: 600; }
    .footer__social_instagram {
      grid-row: 2;
      grid-column: 1; }
    .footer__social_vk {
      grid-row: 2;
      grid-column: 2; }
    .footer__social_address {
      grid-column: 3;
      font-size: 0.89rem; }
  .footer__contact {
    margin-bottom: 1.3rem; }
  .footer__copyright {
    display: flex;
    justify-content: space-between; }
  .footer__payment-icons {
    display: flex; }
    .footer__payment-icons img {
      width: 7vw;
      filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(171%) hue-rotate(168deg) brightness(101%) contrast(103%); }

@media only screen and (min-width: 360px) {
  .footer {
    font-size: calc(1rem + 0.5vw); }
    .footer__phone {
      font-size: calc(2.1rem + 1vw); }
    .footer__social_address {
      font-size: calc(0.89rem + 0.4vw); }
    .footer__heading {
      font-size: calc(1.2rem + 0.5vw); } }

@media only screen and (min-width: 420px) {
  .footer {
    font-size: calc(1rem + 1vw); }
    .footer__social_address {
      font-size: calc(0.89rem + 0.99vw); } }

.header {
  position: relative; }
  .header__topnav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    margin-bottom: 0.45rem;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    z-index: 9999; }
  .header__clip-path {
    position: absolute;
    width: 100%;
    height: 10vh;
    background: #f7d22d;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    z-index: 0;
    transition: clip-path 0.5s ease-out; }
  .header__menu {
    position: absolute;
    width: 100%;
    z-index: 9999; }
    .header__menu_disabled {
      display: none;
      visibility: hidden;
      opacity: 0;
      background-color: #f7d22d; }
    .header__menu_enabled {
      display: block;
      margin: 0 auto;
      padding-bottom: 3.1rem;
      background-color: #f7d22d; }
  .header__list {
    list-style: none;
    text-align: center;
    padding-top: 0.4rem;
    padding-left: 0.1rem;
    margin-bottom: 1.4rem; }
  .header__link {
    text-decoration: none;
    color: #0e0c0d;
    line-height: 2.6rem; }
  .header__list > :last-child {
    padding-top: 0.65rem; }
  .header__tel {
    display: block;
    text-align: center;
    margin-bottom: 1.82rem; }
  .header .button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center; }

.new-products {
  position: relative; }
  .new-products__heading {
    padding-left: 1rem; }
  .new-products__list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
    padding: 1.1rem 0 2.3rem 1rem;
    position: relative;
    scrollbar-width: none; }
    .new-products__list ::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent; }
  .new-products .new-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.2rem;
    align-items: center;
    width: 20rem;
    padding: 1.1rem 1.4rem;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
    border-radius: 1.2rem;
    background-color: #fff; }
    .new-products .new-product:active {
      transition: all 0.2s;
      transform: translateY(3px); }
    .new-products .new-product__link {
      text-decoration: none; }
      .new-products .new-product__link:active {
        color: #231f20; }
    .new-products .new-product__img {
      width: 5.6rem; }
    .new-products .new-product__name {
      margin: 0.1rem;
      padding-left: 0.1rem;
      padding-bottom: 0.1rem; }
    .new-products .new-product__price {
      padding-left: 0.2rem; }
  .new-products__man-img {
    position: absolute;
    top: 1rem;
    left: -3.5rem;
    width: 7.3011rem;
    height: 15.5rem;
    transform: rotate(10.6deg);
    z-index: -999;
    overflow: hidden;
    opacity: 0.4; }

.promotions {
  position: relative;
  margin-bottom: 3.6rem; }
  .promotions__table {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4rem;
    margin-bottom: 2rem;
    padding: 0 1rem; }
  .promotions__item {
    border-radius: 1rem;
    width: 100%; }
  .promotions__subtable {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.2rem; }
  .promotions__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 2.3rem;
    background-color: #f7d22d;
    padding: 0 2rem;
    width: 10rem;
    color: #231f20;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.8rem; }
  .promotions__woman-img {
    position: absolute;
    top: 92%;
    right: 0%;
    width: 7.9rem;
    transform: rotateY(180deg);
    z-index: -1;
    overflow-x: hidden; }

@media only screen and (min-width: 360px) {
  .promotions__button {
    font-size: calc(1rem + 1vw);
    padding: 0 2rem;
    width: calc(10rem + 10vw); } }
