.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-small {
  font-size: $mobile-font-small; // 0.9rem
}

.fs-regular {
  font-size: $mobile-font-regular; // 1rem
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-medium {
  font-size: $mobile-font-medium; // 1.5rem
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-large {
  font-size: $mobile-font-large; // 1.8rem
}

.fs-19 {
  font-size: 1.9rem;
}

.fc-yellow {
  color: $color-yellow;
}

.fc-darkgray {
  color: $color-dark-gray;
}

.heading_secondary {
  margin-bottom: 1.8rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: normal;
  text-align: center;
}

.heading__quaternary {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
