.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-small {
  font-size: $mobile-font-small;
}

.fs-regular {
  font-size: $mobile-font-regular;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-medium {
  font-size: $mobile-font-medium;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-large {
  font-size: $mobile-font-large;
}
