// Colors

$color-black: #0e0c0d;
$color-dark-gray: #231f20;
$color-medium-gray: #473e43;
$color-white: #fff;
$color-yellow: #f7d22d;

// Font size

$mobile-font-small: 0.9rem;
$mobile-font-regular: 1rem;
$mobile-font-medium: 1.5rem;
$mobile-font-large: 1.8rem;
$mobile-font-extralarge: 2.2rem;

// Padding

$mobile-main-padding: 0.55rem 1rem;
